[2013-12-21 21:21] jdereg opened #1 "Nested template support in Collection<T> and Map<K, V>"
Currently, T (or K / V) is consider a type directly, but not as a potentially nested type, for example List<List<Product>>.  In this example, T at the outer level is List<Product>.  Need to handle support for unlimited nesting within template parameters, in the code that uses the template parameters to infer Collection or Map object types, when type is not set within the Collection or Map contents

[2013-12-30 21:41] daveloyall opened #3 "PUBLIC_FIELDS not implemented?"
Hello.

I can't figure out how to use PUBLIC_FIELDS as described here: https://github.com/jdereg/json-io/blob/master/src/main/java/com/cedarsoftware/util/io/JsonWriter.java#L158 .

In fact, I can't find the string "PUBLIC_FIELDS" in the source other than inside javadoc comments.  ...I'm eager to know what I'm missing here. :)

Cheers, thanks,
--Dave

[2013-12-30 23:20] #3 closed, assigned to jdereg

[2013-12-31 23:21] daveloyall opened #4 "Question re: json representation of Map<String,V>"
Hi.

I think that json provides a better way to represent a Map&lt;String,V&gt; than json-io uses.

Consider this demonstration:

[code]

...Which outputs this:

[code]

...Rendered here for your convenience (by @vbodurov's wonderful tool at http://www.bodurov.com/JsonFormatter/) :
![image](https://f.cloud.github.com/assets/1524866/1828937/45a2434a-726f-11e3-8ba6-93fbe58889d9.png)

Now, since I'm

[2014-01-02 16:47] #4 closed, assigned to nobody

[2014-02-19 07:31] #1 closed, assigned to jdereg

[2014-03-18 13:22] mancioshell opened #5 "Could not instantiate java.net.URL using any constructor during JsonReader.jsonToJava"
Hi,
I'm trying to serialize/deserialize DataHandler (http://docs.oracle.com/javase/7/docs/api/javax/activation/DataHandler.html) object to json and vice versa, but it occurs an error during the process:

[code]

This is my code snippet:

[code]

[2014-03-20 05:15] rednoah opened #6 "Disable @ref"
Hi,

I wonder if there is a switch to turn off the @ref feature. I'd rather have it repeat the object for each occurrence.

Thanks!

[2014-03-20 17:41] #6 closed, assigned to nobody

[2014-03-29 04:41] #5 closed, assigned to jdereg

[2014-03-30 17:21] dagavriliu opened #8 "possible issue"
In JsonWriter @ private void writeArray(Object array, boolean showType)
line 888:

[code]

For a reason I cannot explain due to my little knowledge of Java, the type verification for array appears invalid in Netbeans 7.4, Java 1.7, Win7
the particular error message is "lambda expression not expected here illegal start of expression ..."

I tried using

[code]

This seems to remove that error messa

[2014-03-30 23:43] #8 closed, assigned to jdereg

[2014-05-04 15:16] franckysnow opened #10 "NullPointer when writing 2 objects"
### Version

Concerns version `json-io-2.6.0`.
### Issue

I would like to write 2 objects to a stream without closing it in-between. I get a `NullPointerException` when I write the second object.
### How to reproduce

[code]

On the second `JsonWriter.write(Object o)`, I get the `NullPointerException`:

[code]
### Question

Is it possible to write multiple objects with `JsonWriter` ? Is `json-io`

[2014-07-07 22:05] treeswift opened #11 "[edit] Misleading message set for rethrown exception."
generic Exception is caught in JsonReader but the error message states IllegalAccessException.
Proposed: replace with e.getClass().getSimpleName()

[2014-07-07 22:20] treeswift opened #12 "Cannot add a custom writer for an interface"
Use case:
- field type is an interface type (e.g. CharSequence);
- I don't want to preserve the concrete class of the value (it can be complicated and heavyweight, something like WordProcessorMainWindowSpan);
- I inherit a custom writer from JsonStringWriter and write value.toString() as a primitive String;
- I call addWriter(CharSequence.class, myCustomWriter).
  Expected:
- value is serialized a

[2014-07-08 15:54] reuschling opened #13 "Serialized simple string can not be deserialized by JsonReader"
A String will be serialized fine as simple String:
String strJson = JsonWriter.objectToJson("5");
 =>  "5"

But the json reader can not read this vice versa, it throws an Exception
String strClone = (String) JsonReader.jsonToJava(strJson);

Same Exception when formatting the string with
String strBeauty = JsonWriter.formatJson(strJson);

java.io.IOException: Input is invalid JSON; does not start w

[2014-07-08 15:56] reuschling opened #14 "Maybe unnecessary call of convertParsedMapsToJava inside JsonReader.readObject()"
In version 2.6.1, if I don't want to have the java object but only the map representation of the json (by giving the constructor 'true' for noObjects), convertParsedMapsToJava is still invoked - is this necessary or simply an unnecessary overhead in this case? This is the readObject() code from JsonReader:

[code]

Maybe it could be more efficient if convertParsedMapsToJava is only invoked if nece

[2014-07-08 15:59] reuschling opened #15 "Feature request: add an optional fallback type parameter for the toplevel json container to JsonReader.jsonToJava(json);"
We give the possibility to specify http get parameters also as json strings, to allow class objects as parameter types for the web interfaces also.

The problem is, by using json-io, specifying @type in the json string is mandatory for deserialization, right? Thus, the users have to specify it, which is not so nice (for the return values its fine of course, but for parameters?)

I love the way jso

[2014-07-09 21:21] #11 closed, assigned to jdereg

[2014-07-10 00:03] #10 closed, assigned to nobody

[2014-07-10 12:42] #14 closed, assigned to nobody

[2014-07-15 12:52] reuschling opened #16 "UnmodifiableMap can not be deserialized"
JsonReader performs a method 'rehashMaps()' that invokes 'map.put(..)' which leads to an UnsupportedOperationException
Here is an example code:
[code]

[2014-07-15 13:16] reuschling opened #17 "json format for associative array / map"
In Javascript it is easy and straight forward to use a json string as associative array with just a single line of code, if it is in the notation

[code]

Thus, it is perfect to deal with json generated by json-io out of java bean or pojo like Objects. I am wondering about why the generated json is different if the input is a java Map. Sadly, the generated json looks like this:

[code]

This is ha

[2014-07-15 15:22] #17 closed, assigned to nobody

[2014-08-01 15:10] #13 closed, assigned to jdereg

[2014-09-03 16:51] jronan opened #19 "json emitted for enum includes private fields, causes error when parsing"
### What steps will reproduce the problem?

I have an enum like:

[code]

The emitted JSON for this enum includes information about the "encoding" private field as follows:

[code]

This causes the following exception when passed to "toJava"

[code]
### What is the expected output? What do you see instead?

I am surprised to see the emitted JSON contain the enum's "ordinal" value and the enum's pr

[2014-10-27 12:01] Belkacem opened #20 "deserialization of objects"
Hi,
Serializing singleton object is faulty in the current implementation of json io.
The readResolve function isn't called after the deserialization process.

Thanks in advance.

[2014-10-31 19:00] #12 closed, assigned to nobody

[2014-10-31 19:02] #19 closed, assigned to jdereg

[2014-11-26 03:42] #20 closed, assigned to nobody

[2014-12-18 09:38] ludekdolejsky opened #25 "Cannot deserialize type with generics"
Having the following code:

[code]

And the following test:

[code]

The serialization works just fine:

[code]

However trying to deserialize given JSON, I get an `ArrayIndexOutOfBoundsException` exception:

[code]

[2014-12-22 14:43] #25 closed, assigned to jdereg

[2015-01-14 15:39] darabos commented on #5
Have you considered using [Objenesis](http://objenesis.org/)? It is dedicated to the tricky business of instantiating objects. It's great that `json-io` has no dependencies, but I'd rather have one dependency than have to deal with this stuff.

[2015-01-14 19:07] jdereg commented on #5
I have considered Objenesis, but it adds an addition 250K dependency and it requires the sun.misc.* package which may not always be available.

Rather than add this dependency for the rare case, json-io provides the ability to associate a factory class to a class that will be called so that you can create the instance:

    /**
     * For difficult to instantiate classes, you can add your own Clas

[2015-01-14 19:35] darabos commented on #5
Thanks! I like this pluggable approach. I just worry that I will have to add a lot of custom instantiators. I'm working on a Scala system and Scala's standard library is full of weird classes. I had to add a custom instantiator for `scala.collection.immutable.MapLike$ImmutableDefaultKeySet` already. If this turns out to be a problem, a method for setting a new default `ClassFactory` (used for all

[2015-01-14 20:12] jdereg commented on #5
Daniel, glad to hear you are getting your arms around the library.  I would
think you should not need too many custom instantiators, as json-io makes a
pretty aggressive attempt at instantiating objects.  It tries the default
constructor if one exists, if not it then tries all constructors (private,
protected, package friendly or public) twice - once with null, 0, "", for
the various arguments, an

[2015-01-16 00:37] jdereg commented on #16
Support for serializing unmodifiable Collections and Maps has been implemented in 2.9.0.

[2015-01-16 00:37] #16 closed

[2015-01-22 01:17] Parth-Brahmbhatt opened #32 "json-io fails for any immutable map implementation"
I was trying to use json-io as part of serializing/deserializing apache storm structures. Storm is written partly in java and partly in clojure. I assumed clojure being JVM compliant json-io should not have any issues serializing/deserializing clojure structures but that is not the case. Following example shows how the deserialization fails for the PersistanceArrayMap structure of clojure which is

[2015-01-22 03:17] jdereg commented on #32
json-io handles Java's Immutable Map and Immutable Collections.  The ImmutableMap you are using is from Google's library, which json-io currently does not link to.

It turns out, you should be be able to handle this with json-io as it ships right now.  Use the JsonReader's assignInstantiator() method.  This allows you to install your own ClassFactory per .class type encountered.  For these Google-

[2015-01-22 18:31] Parth-Brahmbhatt commented on #32
Thanks.

[2015-01-22 18:31] #32 closed

[2015-01-23 13:46] reuschling opened #33 "strange ArrayIndexOutOfBoundsException during deserialization, depending on type parameters"
I have a strange error while deserializing one of my data structures. The structure is too complex to post it here, but I managed it to create a small snippet to reproduce the problem:

[code]
the snippet generates following exception:
[code]
If I leave the type parameters from the member in the container class 'Test', no exception will be thrown. If I leave one of the parameters inside the class

[2015-01-23 15:07] jdereg commented on #33
What version of json-io are you running?  Try 2.9.0 and see if you still have the issue.

[2015-01-26 14:17] reuschling commented on #33
You are right and I'm sorry, I thinked I had 2.9.0, but accidently Maven prefered a conflicting 2.7.2 for reasons I don't know.
Nevertheless, with 2.9.0, I fall into another failure. I was able to create a test snippet for it also:

[code]
Deserialisation also fails depending on having type parameters or not. The snippet throws following exception:

[code]

[2015-01-27 05:33] jdereg commented on #33
Thank you for the updated information and the test case.  I fixed this issue and released a 2.9.1 of json-io with this fix.  I added your test and another test that illustrated the bug more clearly (to me).  See TestTemplateField class in the src/groovy package.

[2015-01-27 05:33] #33 closed

[2015-01-27 16:11] reuschling commented on #33
It works like a charme - thanks a lot

[2015-01-29 20:20] jezzadebate opened #34 "Error deserializing android.net.Uri"
Attempting to call .jsonToJava() on a JSON payload which contains an instance of android.net.Uri fails with the following exception:
`
Caused by: java.lang.UnsupportedOperationException
at java.util.AbstractList.add(AbstractList.java:404)
at java.util.AbstractList.add(AbstractList.java:425)
at com.cedarsoftware.util.io.JsonReader.traverseCollection(JsonReader.java:1632)
at com.cedarsoftware.util.i

[2015-01-29 20:55] jdereg commented on #34
Is there anymore information than what you have sent in terms of the error
stack trace?

On Thu, Jan 29, 2015 at 3:20 PM, Jeremy Debate <notifications@github.com>
wrote:

[2015-01-29 21:02] jezzadebate commented on #34
Here is the JSON payload that is trying to be deserialized. After putting in logging statements, the error occurs when setting the pathSegments (line 1632 of JsonReader.java).

[code]

[2015-01-29 22:05] jdereg commented on #34
Do you need the mClassLoader field serialized?  If not, I would exclude
that.  I can't imagine that you want to serialize a class loader.  Use the
JsonWriter FIELD_SPECIFIERS option to drop the class loader from the
serialization.  That may be all that you need to do:

*In Groovy:*
JsonWriter.objectToJson(root, [(JsonWriter.FIELD_SPECIFIERS):[(
android.os.Bundle.class):["mParcelledData", "mMap", "

[2015-02-02 03:43] #34 closed

[2015-02-09 12:56] david316 opened #35 "JsonWriter Fails to Write a Map with Long Keys"
I am attempting to serialize a class containing a Map that has Longs as keys.
This is failing with
java.lang.ClassCastException: java.lang.Long cannot be cast to java.lang.String
	at com.cedarsoftware.util.io.JsonWriter.writeMapBody(JsonWriter.java:1982) ~[json-io-2.9.1.jar:?]
	at com.cedarsoftware.util.io.JsonWriter.writeMapWithStringKeys(JsonWriter.java:1972) ~[json-io-2.9.1.jar:?]
	at com.cedar

[2015-02-09 12:59] jdereg commented on #35
David, this should be an easy fix (and easy test).  I will create a 2.9.3
shortly.

On Mon, Feb 9, 2015 at 7:56 AM, david316 <notifications@github.com> wrote:

[2015-02-09 13:23] Farasy opened #36 "java.lang.VerifyError with 2.9.2 and Android < 5.0"
I downloaded the 2.9.2 library to support Android > 5.0. It works well, but on devices lower 5 the following error is thrown:

02-09 14:20:22.210: E/AndroidRuntime(18869): java.lang.VerifyError: com/cedarsoftware/util/io/JsonReader
02-09 14:20:22.210: E/AndroidRuntime(18869): 	at com.cedarsoftware.util.io.JsonWriter.traceReferences(JsonWriter.java:791)
02-09 14:20:22.210: E/AndroidRuntime(18869):

[2015-02-09 13:46] jdereg commented on #36
What JDK are these earlier devices using?  json-io requires JDK 1.7.

On Mon, Feb 9, 2015 at 8:23 AM, Farasy <notifications@github.com> wrote:

[2015-02-09 13:48] jdereg commented on #35
David, the issue you reported has been fixed.  Json-io 2.9.3 has been built
and released to Maven Central at 8:45am Eastern Standard Time.  Within
about 2-3 hours of this, it should be available for usage in your pom file.

On Mon, Feb 9, 2015 at 7:59 AM, John DeRegnaucourt <jdereg@gmail.com> wrote:

[2015-02-09 13:48] #35 closed

[2015-02-09 13:50] Farasy commented on #36
Thanks for your fast response. I guess it uses 1.6. :/

[2015-02-09 14:35] #36 closed

[2015-04-23 17:53] SlimerDude opened #38 "Class file not compatible with older versions of Java"
Assuming the lib doesn't use any newer Java features, could the source be recompiled so it's compatible with older versions of Java?

Being a JDK 1.6 user I currently get:

    Unsupported major.minor version 51.0

This [SO question](http://stackoverflow.com/questions/10382929/how-to-fix-unsupported-major-minor-version-51-0-error) explains a bit more if you're unsure.

I know I can do it myself, b

[2015-04-25 12:04] jdereg commented on #38
I believe there are uses of the 'diamond operator' used that may stop the
source from being compiled:

    List<String> names = new ArrayList<>()

I have no problem with you forking the json-io repo, and modifying the
source there to be JDK 1.6 compliant.  Then feel free to share the link to
your repo as the 1.6 json-io.  I'd hope that you would keep it up-to-date
with changes to the Cedar Softwar

[2015-04-25 12:14] SlimerDude commented on #38
Generics were introduced in Java 1.5, so _diamond operators_ shouldn't be a problem.

To produce backwards compatible class files shouldn't take much more than setting the `target` option in the compiler. Here's a link on how to set it in the [Maven .pom file](http://maven.apache.org/plugins/maven-compiler-plugin/examples/set-compiler-source-and-target.html).

[2015-04-25 12:49] jdereg commented on #38
The diamond operator (on the RHS) support was not added (as I understand
it) until Java 1.7.  Please try it and see if you can compile the example
line I sent.

On Sat, Apr 25, 2015 at 8:14 AM, SlimerDude <notifications@github.com>
wrote:

[2015-04-25 17:59] SlimerDude commented on #38
With regards to the line:

    List<String> names = new ArrayList<>()

while the syntax is Java 1.7, the JDK can still compile it to Java 1.5 / 1.6 compatible byte code resulting in a class file usable by all (the purpose of the said `target` compiler option).

But on further inspection of the source code, I see you're using `java.lang.ReflectiveOperationException` in `MetaUtils` which was only in

[2015-04-25 17:59] #38 closed

[2015-05-21 21:33] lamflam opened #39 "ClassNotFoundException while deserializing Proxied objects"
I'm using this library to serialize objects being passed between android applications. Since upgrading to Android 5, I'm now seeing a ClassNotFoundException when deserializing proxy objects. It makes sense that since the proxy object class is $Proxy1 it wouldn't be able to be instantiated by that name on the other side, but Proxy is a serializable class so there must be a way to do it.

Here is on

[2015-05-22 12:27] jdereg commented on #39
Likely the Proxy class is not what you want serialized.  For example, if you were using Hibernate, that library Proxy's data model objects loaded from the database.  It does this so it can intercept method calls and potentially fetch more of the object model graph upon access.  In this example, you would not want the Proxy instances shipped to a front-end Android app.  Instead, you would want to p

[2015-05-22 13:05] lamflam commented on #39
That's likely true, I doubt that we care to have the proxy data, however we are not in control of the objects that are being serialized. We just are just taking whatever comes through and trying to form it into something that we can pass through an IPC mechanism. Is there an easy way to ignore the Proxy objects? I looked into using a custom Writer that just wouldn't output anything for Proxies, bu

[2015-05-22 13:26] jdereg commented on #39
Use an Class.isAssignableCheck().  Check it against java.lang.reflect.Proxy

On Fri, May 22, 2015 at 9:05 AM, Kevin LaFlamme <notifications@github.com>
wrote:

[2015-05-22 13:34] lamflam commented on #39
I understand how to check if the object is a Proxy, but how do I setup a custom Writer for any object that is proxied? I see how to set one up by adding the class to the writers map with JsonWriter.addWriter(), but I don't have a reference to the class object for $Proxy1, so is there a way to do this?

[2015-05-22 14:51] jdereg commented on #39
Set one up for Object.class - I am pretty sure it supports inheritance.
This CustomWriter would be called for all classes if associated to
Object.class.  Give it a try.

On Fri, May 22, 2015 at 9:34 AM, Kevin LaFlamme <notifications@github.com>
wrote:

[2015-05-22 19:55] lamflam commented on #39
Couldn't find a way to do it with a custom writer, but we did find another way to remove the unnecessary Proxy stuff before the object gets passed to this library. Thanks so much for the quick responses.

[2015-05-22 19:55] #39 closed

[2015-06-15 19:10] alexgaribay opened #41 "Possible to omit "@type" property when writing?"
Is it possible to omit the "@type" property when writing? I didn't find in the documentation whether it is possible but it doesn't state why the property is there. My use case doesn't need it since I don't convert my data back to Java objects.

[2015-06-16 02:33] jdereg commented on #41
I am pondering this suggestion.  Normally, json-io always writes JSON that can be reconstituted back into Java objects.  If the @types were removed, then you would be creating JSON that would not be reconstitutable back into Java.  However, it could be read into Maps (JsonObjects) and still read from.

If it is added, it will be a new flag to be indicated in the options Map passed into the JsonWri

[2015-06-21 05:55] jdereg commented on #41
This enhancement has been implemented.  Setting the JsonWriter.TYPE = false in the 'optional args' will tell json-io not to output any @type entries.  Please note that the resulting JSON will likely not be able to re-constituted as Java objects (pure Java serialization).

[2015-06-21 05:55] #41 closed

[2015-06-21 21:35] octaviospain opened #42 "Problem deserializing ObservableObjects"
I'm coding a JavaFX application and I want to serialize/deserialize a list of objects that are observable cause they are used in a `TableView`. I tested that the serialization/deserialization with json-io of a `List` works well, but when I try to do the same thing with an `ObservableList` I get `JsonIoException` when calling `readObject()` from the `JsonReader` instance
This is the failure trace f

[2015-06-21 22:28] jdereg commented on #42
If you notice near the end of the stack trace, the last 'Caused by:' entry, it says a NullPointerException occurred.  It occurred inside the ObservableListWrapper.size() method.  Taking a look at that method, you will see that all it does is call backingList.size().  The backingList member variable is obviously null, and calling size it causes the NPE.

This happens because during instantiation of

[2015-06-21 23:18] octaviospain commented on #42
Ok that is nice, I see now the power of json-io with that feature. I readed twice your explanation and I search in the api but I can't figure how to "properly create an new ObservableListWrapper and return it here", given a Class as parameter. I checked the code of JsonReader's CollectionFactory class and I infered that the naive approach would be something like
[code]
But obviously isn't. Sorry f

[2015-06-21 23:35] jdereg commented on #42
First, you do not an 'isAssignableFrom' check.  Your code will only be
called with a ObservableListWrapper.class.  Passed whatever you need to
your ObservableListWrapperCreator in it's constructor that you would need
to make sure you create the class properly.  Currently, your class does not
have any constructor, so your 'newInstance(Class c)' method has no 'help'
to create the class.

I am not fa

[2015-06-22 00:53] octaviospain commented on #42
Thank you a lot, I just did it.

[2015-06-22 00:53] #42 closed

[2015-06-22 01:50] jdereg commented on #15
The optionalArg TYPE parameter was just added in json-io 4.0.1 which allows the @type to be completely turned off.  This will create JSON that can be sent to Javascript, however, the created JSON may often not be properly reconstructed as a Java graph.  The option does add utility, for instance, sending JSON to a non-Java destination.

[2015-06-22 01:50] #15 closed

[2015-06-28 16:23] donshop11 opened #43 "support jdk 6"
at the moment the library does not work with jdk 6

[2015-06-30 15:52] jdereg commented on #43
We are aware of this, as JDK 6 was sunsetting a long time ago, so we have
begun taking advantage of the new Java 7 features.  If you want, since the
full source code is available, you could make the appropriate changes to
support 1.6, and send a pull-request.  If the changes are not too
intrusive, I would consider keeping Java 6 support going forward.

On Sun, Jun 28, 2015 at 11:23 AM, donshop11 <

[2015-07-01 14:44] jdereg commented on #43
User kkalisz has made the changes necessary to bring json-io back to JDK 1.6 compatibility.  I have incorporated those changes, and will be releasing a new json-io 4.1.0 with JDK 1.6 and higher support.  It will be available in a few hours on Maven Central.

[2015-07-01 14:44] #43 closed

[2015-07-02 01:01] jdereg commented on #43
Please note that json-io 4.1.0 now supports JDK 1.6.  Thanks to contributor
kkalisz who made the appropriate changes.

On Tue, Jun 30, 2015 at 10:52 AM, John DeRegnaucourt <jdereg@gmail.com>
wrote:

[2015-07-11 20:07] donshop11 opened #46 "feature request: allow to define max-depth for an object graph"
it is sometimes useful, when the object graph is very big, to define  maximum depth for the traversal.
is it possible to do today?

[2015-07-12 01:44] jdereg commented on #46
Although it is not possible to define maximum depth, I am not sure I would want that.  If it stopped writing or reading at a certain depth, the resulting graph would be incomplete and therefore potentially untrustworthy.

I would like to point out that although the parser uses a stack-based parse, the conversion from Maps to Objects uses an explicit Stack object (limited only by the size of the he

[2015-09-14 17:10] reuschling opened #51 "own member variables in subclasses of Map will not be considered during serialization"
It seems to me that this is because of the special treatment of Maps inside JsonWriter:

[code]

I have a subclass of LinkedHashMap that implements a LRUCache, but suddenly it doesn't work with json-io. There, a member with the maximum amount of entries is necessary, which becomes zero after deserialization.

[2015-09-14 17:29] jdereg commented on #51
​You can fix this by using a custom serializer to handle your specialized
Map.  ​

On Mon, Sep 14, 2015 at 1:10 PM, reuschling <notifications@github.com>
wrote:

[2015-10-10 20:10] electronhead opened #52 "custom reader questions"
I am working on a code base that someone else wrote, so I don't have any control over how friendly the objects are to the default settings of the java-based json serialzers/deserializers out there. So far, json-io has been the easiest to get this working for the code base. I've been making progress toward json coverage for all of the objects to be serialized, and yesterday I ran into a class that

[2015-10-11 18:28] jdereg commented on #52
Gary,

I appreciate the detailed write up.  It looks like you are very close, and
attacking the problem class the correct way.

In your example, I see a line like below:

"map": **{

What is the '**' ?  That would throw off the JsonReader.

As for getting values from the JsonObject, fetch values from it just
as java.util.Map.  The JsonObject is extends LinkedHashMap.

Dump out the .keySet() of the

[2015-10-11 19:49] electronhead commented on #52
John,

Thanks for the quick response!

The double asterisk was mistakenly left in the post to github. I was trying to format the json listing.

Here is a snippet of code…

readerExMap[SpanMap.class] = new JsonReader.JsonClassReaderEx() {
  Object read(Object jOb, Deque<JsonObject<String, Object>> stack, Map<String, Object> args) {
    JsonObject jObj = (JsonObject) jOb
    SpanMap spanMap = new Sp

[2015-10-12 01:26] jdereg commented on #52
​You mention that you would expect the 'spanlKey' and 'map' values ​tp be
typed as SimpleSpanKey and ConcurrentSkipListMap, but when I look at the
JSON example you included, I see
{"@type":"com.tladbs.datastore.spanmap.SimpleSpanKey" and I see map's type
as "java.util.concurrent.ConcurrentSkipListMap"} which is exactly the type
of those classes.  The package name *is* part of the class name.  Were

[2015-10-12 05:49] electronhead commented on #52
Yes, the json looks great (thank-you!). I didn’t include the whole class path. I abbreviated. Sorry.

I’ve made some progress, I think, mostly because I realized that IntelliJ was hiding most object state by default. Operator ignorance. Apologies.

So the SimpleSpanKey element of @items has a type as below...

jObj[“@items”][2].getType() == “com.tlabs.datastore.spanmap.SimpleSpanKey”

To the point

[2015-10-17 12:06] francisu opened #53 "Error when attempting to serialize an object marked transient"
If a transient object cannot be examined and gives an exception it will blow up the serialization. transient objects should not be accessed for serialization.

I will supply a pull request for this.

[2015-10-17 19:37] francisu commented on #53
See https://github.com/jdereg/json-io/pull/54

[2015-10-18 02:00] jdereg commented on #53
Nice fix for troubling transients.  Your changes have been incorporated and a new version (4.1.7) of json-io has been released to Maven Central.  I would expect it to be available for download within 2 hours of me writing this message.

[2015-10-18 02:42] jdereg commented on #53
Francis, check out the code in my final fix.  Transient fields cannot be entirely skipped - if a field specifier map is used for the class, and the transient field is listed, then the transient field must be traced.  It is a slight modification to the code you submitted.  That fix (and a new test to ensure it is working correctly) was released in 4.1.8.

[2015-10-18 16:29] francisu commented on #53
Your fix and tests look great. Thanks for such quick turnaround on my PR, and also for being the only game in town for Java -> JSON serialization that supports object graphs with cycles with no fuss.

[2015-10-18 16:29] #53 closed

[2015-11-30 15:44] francisu opened #55 "EnumSet not supported"
It has a problem because it can't be initialized with the normal constructor stuff.

Pull request to come in a little bit.

com.cedarsoftware.util.io.JsonIoException: class org.talend.components.api.properties.Property$Flags != null
Last read: title":"Restore Test"}]},"validationResult":null,"propertyValues":{"@type":"java.util.HashMap","@keys":[{"@ref":24},{"@ref":11}],"@items":["testPassword","t

[2015-12-01 08:55] francisu opened #57 "Add support for replacement at the field level."
Sometimes it's nice to be able to replace a value both when reading and writing for a specific field, to encode an encrypted password for example.

I will provide a pull request to implement this.

[2015-12-02 03:27] jdereg commented on #55
This could have been resolved using json-io's feature that allows you to assign an 'instantiator' to a given Class.  In this case, you would have created (in your code) an instantiator and associated it to EnumSet.class.  However, since EnumSet is a JDK class, it does belong in json-io.  I am letting you know this for future reference, assignInstantiator() will allow you to get past any constructo

[2015-12-02 03:27] #55 closed

[2015-12-07 10:17] lordvlad opened #62 "NaN, Infinity, -Infinity is not supported"
When objects contain fields with NaN, Infinity or -Infinity, an invalid JSON string is produced.

ex:

    class O {
      double num = Double.NaN;
    }

    JSONWriter.objectToJson( new O() );
    // {"num": NaN}

in contrast v8's implementation turns these into `null`

    JSON.stringify({'num', NaN})
    // {"num": null}

[2015-12-09 06:55] #62 closed

[2015-12-09 06:57] #52 closed

[2015-12-10 04:18] #51 closed

[2015-12-21 20:51] md97212 opened #64 "typos in README.md"
Object obj = JsonReader.jsonToJava(json, [(JsonReader.USE_MAPS): true)])  extra paren
Employee emp = (Employee) JsonReader.jsonToJava(stream);  extra equals

[2015-12-21 21:20] #64 closed

[2015-12-25 14:40] jdereg commented on #64
fixed

[2015-12-25 14:41] jdereg commented on #62
fixed

[2016-01-27 12:16] rvaleryr opened #65 "add an ioption to skip empty (null) object's fields in output json"
in many cases java objects have some set of fields with null values.
(it can be even huge)

the option to do not write such fields will be very useful.

[2016-01-27 12:55] rvaleryr commented on #65
// + protected to get ability to override, + boolean omitNulls parameter
protected boolean writeField(Object obj, boolean first, String fieldName, Field field, boolean allowTransient, boolean omitNulls) throws IOException
    {
        if (!allowTransient && (field.getModifiers() & Modifier.TRANSIENT) != 0)
        {   // Do not write transient fields
            return first;
        }

        i

[2016-01-31 05:43] jdereg commented on #65
Looking into your request.  I believe I can get this implemented quickly.  Perhaps have a release available within 1 week.

[2016-02-04 19:47] rvaleryr commented on #65
Hi, it sounds great!
This will be a really excellent feature
--
Отправлено из Mail.Ru для Android воскресенье, 31 января 2016г., 08:43 +03:00 от Cedar Software < notifications@github.com> :

[2016-03-02 13:57] jdereg commented on #65
This has been implemented and released in json-io 4.3.1.

[2016-03-02 13:57] #65 closed

[2016-03-06 08:32] rednoah opened #70 "JsonObject.getArray VS Object[]"
One of the recent updates changed how JS arrays are parsed. Previously it used to be `JsonObject` instances, but now it's just `Object[]` which so I've got to fix a lot of `ClassCastException` issues.

Shouldn't `JsonObject.getArray` and `JsonObject.isArray` be completely `@Depricated` at this point? Or is there still a use case for those?

[2016-03-06 17:52] jdereg commented on #70
I think you are correct, that we no longer need those APIs on JsonObject.  Here is the main change to be aware of (for the better): @items and @keys *only* show up when you have a Map with non-String keys.   In all cases, it is able to bypass using @items and @keys.  If you have a Map with some Object type as key, for example, those json-io will write the map out with @keys which will contain the

[2016-03-06 17:53] jdereg commented on #70
I will mark those APIs as @Depricated and ultimately remove them.

[2016-03-07 07:37] rednoah commented on #70
Thanks for the help. I understand how it works now. :)

[2016-03-07 07:37] #70 closed

[2016-03-12 19:40] #57 closed

[2016-03-12 19:40] #46 closed

[2016-05-02 00:43] francisu opened #72 "Empty EnumSet can't be used after being deserialized"
Adding these lines to the end of TestSet.testSet() shows the problem.

[code]

  testSet._enumSet.remove(ManySets.EnumValues.E1);
        testSet._enumSet.remove(ManySets.EnumValues.E2);
        testSet._enumSet.remove(ManySets.EnumValues.E3);
        json = TestUtil.getJsonString(testSet)
        testSet = (ManySets) TestUtil.readJsonObject(json)
        testSet._enumSet.add(ManySets.EnumValues.E

[2016-05-02 15:52] jdereg commented on #72
Looking into this.

[2016-05-13 13:15] PavelVinogradov opened #73 "Failed to deserialize immutable Collections.SingletonMap"
Related to #32 , but a bit different and can't be solved with assignInstantiator.

json-IO fails to deserialize Collections.SingletonMap instance:

[code]

Discussion about the same issue in Jackson: https://github.com/FasterXML/jackson-core/issues/218

[2016-06-05 05:19] francisu opened #74 "Provide a callback for missing fields"
This is useful in a version migration situation where the current version of a class want's to handle a previously serialized version that contains a field that was removed in the current version.

A pull request will be provided.

[2016-06-05 05:20] francisu opened #75 "Provide a means of overriding the writing of an object"
Currently the custom writer support does not allow you to simple add a field and then write the current object normally. You can write a child object, but not the current one.

A pull request will be provided.

[2016-06-05 05:22] francisu opened #76 "Provide a means of automatically reading an object with a custom reader"
Currently the custom reader mechanism does not allow you to automatically read the current object, it has to be done entirely manually.

The use case for this and https://github.com/jdereg/json-io/issues/75 is to be able to add a single field to the serialized output of certain objects (to track a version number), but otherwise read and write the object automatically and normally.

A pull request

[2016-06-08 09:13] sgandon opened #78 "FIELD_SPECIFIERS does not allow subclasses field to be serialized"
Hello,
Here is the documentation for FIELD_SPECIFIER map option for serializing objects
`// Set value to a Map<Class, List<String>> which will be used to control which fields on a class are output`
So what I understand from this is that it will only specify the field for given class to be serialized but implicitly means that subclasses fields shall be serialized.
But this is not the case.
here is

[2016-06-08 09:18] sgandon opened #79 "add a backlist of field not to be serialized"
if we have an object that has fields not to be serialized in certain cases, which means we cannot use transient for this, there is not way to specify this.
I thought I could be using the FIELD_SPECIFIERS to specify  a white list of field thus removing the fields from this list but there is an issue with subclasses that does not allow this for subclasses ( see #78 ).
SO what would be great is to ha

[2016-06-10 11:49] Senich opened #81 "Deserealize list of data"
Thanks for your lib, I use it in my everyday work extensively but I still cant figure out how to deserialize list of objects. Now I have to make a top level wrapper where I can put my list of objects and then I  deserialize this wrapper and get the data from it's field. But it seems a bit excessively. Is there better way to do this?
Something like
[code]
and then
[code]

[2016-06-10 11:55] jdereg commented on #81
Are you writing a list of disparate objects (forest rather than a tree)?.
If so, the only way to do that all at once is to put them in a List or
Object[] and serialize them as you have above.  The Object[] might make the
JSON a little prettier.

On Fri, Jun 10, 2016 at 7:49 AM, Semyon Evgrafov <notifications@github.com>
wrote:

[2016-06-10 12:27] Senich commented on #81
No, everything is simplier. All objects in a list are similar.
It's a shame to admit, but after you answered I figured out how implement what I want.
[code]
Just need to cast JsonReader output into List of objects (!) and everything works perfect.
Thank you!

[2016-06-10 13:13] #81 closed

[2016-06-10 13:19] jdereg commented on #79
Going through all pull requests / issues today / this weekend.  Should release a json-io 4.5.0 by Sunday.

[2016-06-10 13:19] #79 closed

[2016-06-10 13:59] jdereg commented on #78
Closing the issue as both white-list and black-list support provides sufficient customization.

[2016-06-10 13:59] #78 closed

[2016-06-15 03:45] francisu opened #87 "Unclear error when failing to load a class sometimes"
We are working in an OSGi environment and in the case where a @type class cannot be loaded, a LinkedHashMap is created instead and then it gets an error when it tries to assign that object. This was difficult to debug. There should be a clear error indicating the type not found which would make this problem easier to track.

PR is coming to address this.

[2016-06-15 03:47] francisu opened #88 "Need DynamicImport-Package: * header for OSGi environments"
Without this, any user classes are not found when deserializing in an OSGi environment.

PR to come.

[2016-07-08 02:20] fabienrenaud opened #91 "About performance"
I ran some benchmarks using JMH against a bunch of Java JSON libraries (jackson, gson, genson, org.json, etc.) and added json-io to my panel of tests and was very surprised (not to say chocked) about the performance of json-io.

The results are here: https://github.com/fabienrenaud/java-json-benchmark

json-io performs comparably to org.json...

I read the readme documentation of json-io and could

[2016-07-08 04:16] jdereg commented on #91
First of all, thank you very much for including json-io in your performance benchmark.  I was happy to see that it was on par with gson, however, based on some of the others' results, there is room for improvement.

In your tests, I would think you would serialize a simple JSON object as well as complex object graphs.  Would you elaborate on that?

For testing, here is what I would use:

**Writing

[2016-07-08 05:03] fabienrenaud commented on #91
For reading, I use JsonReader.jsonToJava. [See here](https://github.com/fabienrenaud/java-json-benchmark/blob/master/src/main/java/com/github/fabienrenaud/jjb/StreamDeserialization.java#L108)
For writing, I do use JsonWriter.objectToJson. [See here](https://github.com/fabienrenaud/java-json-benchmark/blob/master/src/main/java/com/github/fabienrenaud/jjb/StreamSerialization.java#L114). The options

[2016-07-15 12:20] jdereg commented on #87
thank you (@francisu) for the pull request that fixes this.

[2016-07-15 12:20] #87 closed

[2016-07-15 12:20] jdereg commented on #74
thank you (@francisu) for the pull request that implements this.

[2016-07-15 12:20] #74 closed

[2016-07-15 12:22] jdereg commented on #76
thank you (@francisu) for the pull request that implements this.

[2016-07-15 12:22] #76 closed

[2016-07-17 01:07] jdereg commented on #88
added by @francisu

[2016-07-17 01:07] #88 closed

[2016-07-17 01:07] jdereg commented on #75
implemented by @francisu .  Available in json-io 4.5.0

[2016-07-17 01:07] #75 closed

[2016-07-17 11:48] jdereg commented on #91
Fabien, I released json-io 4.5.0 yesterday.  This release improves the read speed.  I was hoping you could re-run your speed test with json-io 4.5.0 and update the comparison numbers.  In my testing, reading is about 50% faster than 4.4.0.  There were other functional enhancements listed in the readme as well (nothing that should affect how you use json-io for your tests).

[2016-07-21 12:06] jdereg commented on #91
I hope to see some improvement in the reading speed in your graphs.

Separately, I forgot to mention that json-io can be used instead of ObjectInputStream / ObjectOutputStream.  It is a true object-graph serializer.  I am not sure how well the other JSON libraries do with complex object graphs.  Many of my test case graphs fail when I try some of the other JSON parses with them.  json-io handles m

[2016-07-21 12:11] jdereg commented on #91
If you take the 'public static class ManyArrays implements Serializable' class from my TestArrays.groovy file - that's a good start.  I cannot get gson to write / read that.  json-io handles it fine.

My TestArrays, TestCollections, and TestMaps often choke other JSON serializers.

[2016-07-24 01:28] fabienrenaud commented on #91
I updated the benchmark: https://github.com/fabienrenaud/java-json-benchmark

I refactored the project such as I can easily test other kinds of payloads (like ManyArrays) but I still need to do a bit of work to get that one tested nicely...

[2016-07-24 03:14] jdereg commented on #91
In addition to raw performance, another important factor to judge JSON serialization libraries is on the number of dependencies the library has (json-io none).  In addition to highlighting what other libraries the JSON library may bring along with it, how large is the library itself?

[2016-07-24 03:15] jdereg commented on #91
Of course, the other factor is the robustness of the library.  Can it handle all the gnarley object graphs that are thrown at it?  What if the objects being serialized contained List<Map<String, Object>> and such?  How well libraries handle the collections and combined collections is important.

[2016-07-24 07:20] fabienrenaud commented on #91
The size of the library usually only matter for mobile clients. So not always relevant.
There is also the impact on memory and how well it would perform in a non HotSpot environment... but I am primarily measuring throughput performance for server-like environment (hotspot, large heap) for now.

All the json libraries I have in my benchmark have no external dependencies either (except json-smart w

[2016-07-24 12:15] jdereg commented on #91
When most clients receive json-io's payload, they safely ignore the '@type' property if it is there.  They can still make updates to the JSON object graph and ship it back to the server.  The server running json-io reader will automatically inject these changes.  Also, '@type' is only output when it cannot be inferred.  And there is an option to turn if off it you do not want to see it at all.

Ma

[2016-07-28 18:02] Scitz0 opened #92 "@type not outputed for all data types"
Even though I added a TYPE arg of true to the writer it did not output @type for all data types. The values in the hashtable for object serialized to disk, int, date and float types has the @type but strings and long does not.

The writer code:
[code]

example output:
[code]

[2016-07-28 19:48] jdereg commented on #92
String and long are 'built-in' data types for JSON and so they are intentionally not marked.  However, an 'int' for example, must be marked as json-io cannot tell if you want the value 100, for example, to be understand as an int or a long.  Similarly, Strings are part of the standard JSON datatypes and need no such additional typing.

[2016-07-28 19:55] Scitz0 commented on #92
Ok, I just thought this TYPE parameter did just that, output type even if not needed. Makes output more readable when all fields look the same is all.

[2016-07-28 19:59] jdereg commented on #92
Your consistent output format point is well-taken.  The TYPE is mainly to ensure all 'object' types are output.  However, it is needed to differentiate the primitive types as well (byte, short, int, long) and float versus double.  Adding the 'TYPE' parameter does make the JSON longer and as a trade-off for space, since the type for long and String can be taken as-is, it was left off.

[2016-07-28 19:59] #92 closed

[2016-07-31 21:49] Scitz0 opened #93 "Gracefully omit fields"
My application is extendable with plugins that can be loaded and unloaded. Data from these plugins can be stored on the objects I use json-io to serialize to disk. So its not uncommon that when deserializing the json-io file some field/object in this key map reference an unloaded plugin/class that doesn't exist. In this case, does json-io return null or does it throw an exception? My wish would be

[2016-08-01 05:38] jdereg commented on #93
Can you write a simple unit test that checks this out?  I believe it will ignore fields it cannot set on the target object.  Should be easy enough to test.

[2016-08-08 12:56] Scitz0 commented on #93
Was away for a week so just now got around to do some testing and you are correct, it does omit fields that it cant recognize without throwing any exception and successfully loads the object.

When I did my quick test before adding the issue I manually edited the json and got an exception loading it but I now saw that I had a small typo in the json format after editing the file. When corrected it

[2016-08-08 12:56] #93 closed

[2016-08-15 15:24] visvadw opened #94 "UnsupportedOperationException of Netty's SelectedSelectionKeySet.iterator()"
Hello everybody,

This library looks promising. I just started playing with it (version `4.5.0`), but I got into an issue that I believe is related to `Netty` version `4.0.37.Final`:

[code]

I'll try to manually include the Netty's packages as dependencies, and using the currently latest version, `4.1.4.Final`. Meanwhile, if somebody encountered this problem also, please give a feedback.

Thank y

[2016-08-15 15:46] jdereg commented on #94
If you have trouble serializing an unusual class, like one that includes a
ClassLoader field for example, you can use the options map of the
JsonWriter to address the issue.  For example, if the class being
serialized has a field on it you do not want serialized, you can black list
the field.

On Mon, Aug 15, 2016 at 11:24 AM, Marius Ileana <notifications@github.com>
wrote:

[2016-08-15 19:07] visvadw commented on #94
@jdereg Thanks for the feedback, John!

Yes, I am using a black list as you may see below. `CassandraRepo` is a singleton and there are two cases when `toJSON()` method is used:
- after the instantiation (using `CassandraRepo repo = CassandraRepo.getInstance();`) and it looks alright:
[code]
- after the initialisation (using `repo.init(configRepo);`)
Here, it crashes:
[code]

And here is the class

[2016-08-15 20:02] visvadw commented on #94
Black list was extended so that only two simple attributes (of class `Error`, a simple JavaBean style class) were left:
[code]
but the issue is still there. It appears even when all the attributes are in the black list, so that the first run shows:
[code]
when using:
[code]

[2016-08-16 16:50] jdereg commented on #94
The issue you are hitting is that the implementation of a Map, (something like called SelectedSet), implements a .keySet() method, that returns a KeySet which does not support .iterator().  For now, can you either substitute in a different Map -or- not serialize this field?

[2016-08-16 18:48] visvadw commented on #94
I understand your point of view, but none of the attributes of `CassandraRepo` example shown above uses `Map`. Anyway, for now I continued with GSON.
Thank you for the feedback!

[2016-08-17 11:54] #94 closed

[2016-08-25 19:41] darmbrust opened #95 "pretty print not working with custom serializer?"
If I set up for write like so:
Map<String, Object> args = new HashMap<>();
args.put(JsonWriter.PRETTY_PRINT, true);
json_ = new JsonWriter(new FileOutputStream(path.toFile()), args);
json_.addWriter(ConceptChronology.class, new Writers.ConceptChronologyJsonWriter());

and my custom writer looks like this:

public static class ConceptChronologyJsonWriter implements JsonWriter.JsonClassWriter
	{
		p

[2016-08-25 19:59] darmbrust opened #96 "Custom serializers only work once"
Adding a new writer with JsonWriter.addWriter(...) only works for the first instance of a class - the implementation in JsonWriter does this:

public void write(Object obj)
    {
        traceReferences(obj);
        objVisited.clear();
        try
        {
            writeImpl(obj, true);
        }
        catch (Exception e)
        {
            throw new JsonIoException("Error writing object

[2016-08-25 20:27] darmbrust commented on #95
I guess this doesn't really work like I thought it might.
I see I can get closer to what I want by implementing JsonClassWriterEx instead of JsonClassWriter, which will give me a handle to the underlying JsonWriter like so:

JsonWriter mainWriter = Support.getWriter(args);

But then, we still need to change the signature of methods like newLine() and tabIn() and tabOut() to public in order to do l

[2016-08-26 04:33] #96 closed

[2016-08-26 04:33] #95 closed

[2016-10-09 09:51] rednoah opened #101 "SKIP_NULL_FIELDS can lead to inconsistent deserialized data"
Deserializing JSON text serialized with `SKIP_NULL_FIELDS` can lead to inconsistent behaviour when `JsonReader` tries to find an appropriate constructor passing in default values because those default values will not be overridden if the field is not present in the JSON text.

This may or may not be considered a bug but it's definitely strange behaviour, and if it's not considered a bug then this

[2016-10-14 12:44] Scitz0 opened #102 "AtomicInteger deserialization"
There seems to be an issue with deserialization of AtomicInteger.

If I set a value and serialize the object conaining the AtomicInteger it is written correctly to disk.
But when I deserialize the object this variable gets a value of 0.

Java version "1.8.0_102". Using Json-IO 4.8.0 from Maven repository.

[2016-10-15 11:28] Scitz0 commented on #102
I did a test to replace AtomicInteger with the new Java 8 LongAdder, seems Json-io fails to handle this new type. Serializing I just get an empty result, see below. But this is a separate issue.

"_test":{

  }

[2016-10-20 22:27] jdereg commented on #101
I am not sure I understand your comment 'Give JsonReader a default constructor ...'

The constructor that is needed, in your example, is public NullInteger() { }.  How would JsonReader() create this constructor?  If the code does not have a default constructor, then no default constructor exists for that class.  That is one of the major difficulties in Java, is that there is no 'malloc()' like the

[2016-10-20 22:28] jdereg commented on #102
I will look into this.

[2016-10-21 09:42] rednoah commented on #101
The problem stems from `json-io` passing in `0` instead of `null` for `Integer` parameters which caused strange serialize/deserialize issues because `null` fields changed to `0`.

Without `SKIP_NULL_FIELDS` this is not an issue because `json-io` would just override the `0` passed in the constructor with `null` as it should be.

I think the "correct" behaviour would be to pass `0` as default for `i

[2016-10-22 16:30] Scitz0 commented on #102
Ok great, would be nice if you manage to find a solution for this.

[2016-10-25 15:41] jdereg commented on #102
Implemented AtomicBoolean, AtomicInteger, and AtomicLong support.

[2016-10-25 15:41] #102 closed

[2016-10-26 12:23] jdereg commented on #101
addressing this next, now that 4.9.0 is out.

[2016-10-26 13:05] rednoah commented on #101
Thanks! Much appreciated.

[2016-11-09 10:05] mhmxs commented on #32
Hi @jdereg,

I faced with the same issue with immutable collections, and found your answer. My only problem is for example `com.google.common.collect.RegularImmutableMap` is package private class, so i can't assign it to JsonReader. If i assign the interface of `RegularImmutableMap` `com.google.common.collect.ImmutableMap` json-io shouldn't pick up the registered "instantiator" [here](https://gith

[2017-01-03 17:33] rednoah opened #111 "Latest update breaks JSON parser"
Test Case:
[code]

Throws:
[code]

EDIT: Works with `4.9.1`. Broken since `4.9.2`.

[2017-01-03 20:09] jdereg commented on #111
This was fixed in 4.9.5.  It was introduced in 4.9.2.

[2017-01-03 20:09] #111 closed

[2017-01-10 16:56] darmbrust opened #113 "JsonWriter.ENUM_PUBLIC_ONLY doesn't work with custom enums?"
I'm trying to write out enums in a simple way, with a setup like this:

		DateFormat dateformat = new SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss'Z'", Locale.US);
		dateformat.setTimeZone(TimeZone.getTimeZone("UTC"));
		HashMap<String, Object> config = new HashMap<>();
		config.put(JsonWriter.DATE_FORMAT, dateformat);
		config.put(JsonWriter.SKIP_NULL_FIELDS, true);
		config.put(JsonWriter.TYPE, false

[2017-01-10 17:00] darmbrust commented on #113
I did notice that the JsonWriter class calls this method in Class:

    /**
     * Returns true if and only if this class was declared as an enum in the
     * source code.
     *
     * @return true if and only if this class was declared as an enum in the
     *     source code
     * @since 1.5
     */
    public boolean isEnum() {
        // An enum must both directly extend java.lang.Enum and

[2017-01-13 03:52] jdereg commented on #113
looking into this

[2017-01-13 03:57] jdereg commented on #113
Confirming your suspicion, from StackOverflow: http://stackoverflow.com/questions/4166488/checking-if-a-class-is-java-lang-enum

[2017-01-13 05:10] jdereg commented on #113
This has been fixed and json-io 4.9.6 released containing the fix.

[2017-01-13 05:10] #113 closed

[2017-01-13 05:43] darmbrust commented on #113
Awesome!  Everything else about your project works so well, I just assumed I was doing something dumb for a while :)

[2017-01-20 19:10] rvsasseen opened #114 "deserialization errors (when ref needed by compareTo not yet resolved?)"
Hi, I get two different deserialization errors (using the latest version 4.9.6) from the following code, depending on whether the Seq class has a no-arg ctor defined or not. The error when that ctor is defined is probably (I'm guessing) due to a "@ref" in the Seq object not being resolved before the Seq object is placed in a TreeBag, causing its compareTo method to be called while that "@ref" is n

[2017-01-20 19:19] rvsasseen commented on #114
Below is the error output with the ctor defined. (Sorry, in the code I posted above I edited the code for simplicity to call the test class SerializerTest while below it's called com.sri.jminer.utils.UtilJsonSerializer2Test, and the line numbers below from that file are off by +2 because I deleted the package declaration from the posted code.)

Running com.sri.jminer.utils.UtilJsonSerializer2Test

[2017-01-21 14:35] jdereg commented on #114
I will take a look.

[2017-01-22 16:52] jdereg commented on #114
This is actually not a bug in json-io.  The fix for the issue you are seeing is to make your compareTo() method more robust:
`
       public int compareTo(Seq other)
        {
            if (other.data == null || data == null)
            {
                if (data == other.data)
                {
                    return 0;
                }
                return data == null ? -1 : 1;

[2017-01-22 16:52] #114 closed

[2017-01-25 02:41] rvsasseen commented on #114
I am concerned that the approaches you suggest may not be sufficient, that they will leave the TreeBag in an inconsistent (improperly ordered) state. (I haven't learned about using an instantiator yet, but I have the same concern there.)

I half suspect that the approach of first building up a graph with incompletely constructed objects (ones with unresolved @refs) and later patching the graph may

[2017-02-06 14:39] sgandon opened #115 "Missing field handler does not support complex types"
The current implementation of the migration callback for missing field handling only handles primitive type and not complex types.
I'll provide a PR that improves this a little bit when the type of the missing field can be found in the json using the @type.

[2017-02-08 02:45] jdereg commented on #115
I'ved merge the PR.  Plan to look it over, test it a bit.  Should be able to release a 4.9.8 by the weekend.

[2017-02-15 13:24] jdereg commented on #115
Version 4.9.8 has been released with your changes.

[2017-02-15 13:24] #115 closed

[2017-03-06 09:05] rednoah opened #118 "Doesn't work with non-ASCII characters on Windows"
Characters are not correctly decoded if `file.encoding` is not `UTF-8`. On Windows, this is not the case.

e.g. running this code with `-Dfile.encoding=ISO-8859-1` and `-Dfile.encoding=UTF-8` yields different results:
[code]

[2017-03-08 16:16] jdereg commented on #118
The JSON input should be converted to UTF-8 before passing it to a JSON parser.  See this link for similar issue: http://stackoverflow.com/questions/3995559/json-character-encoding

[2017-03-08 17:34] rednoah commented on #118
In my test case, the input is a `String` object, so it can't have the wrong encoding. The problem is that `jsonToJava` doesn't work correctly on Windows.

Presumably, the latest code is using `String.getBytes` or `new String(byte[])` somewhere which defaults to using `file.encoding` internally (not `UTF-8` as one might expect).

[2017-03-09 06:25] jdereg commented on #118
There are only two (2) calls to .getBytes() in json-io.  Both of them use the 2-argument version, with the String "UTF-8" passed to them.

[2017-03-09 07:02] rednoah commented on #118
Well, I'm just telling you there's some severe issues with parsing non-ASCII characters that you might not be aware of because you're developing on Linux/Mac and never tested things on Windows.

Here's a complete test case. Run it yourself if you don't believe me. :P

test.groovy
[code]

Works if default charset is `UTF-8`:
[code]

**DOES NOT** work if charset is `Windows-1252`:
[code]

**DOES NOT

[2017-03-09 13:12] jdereg commented on #118
Thank you for providing a test case.  I will have to dust off my old Windows PC and check it out.

[2017-03-10 08:20] rednoah commented on #118
You can debug on Mac or Linux. Just need to set `file.encoding` to something other than `UTF-8`.

[2017-03-13 14:11] jdereg commented on #118
Fixed and released in json-io 4.9.10.

[2017-03-13 14:11] #118 closed

[2017-08-16 10:25] costin3141 opened #119 "Map<String, Object> typed serialization broken for Integer and Date objects"
I have the following example code:

-----------------------------------------------------
public static void main( String[] args ) {
      final Map<String, Object> map = new HashMap<>();
      map.put( "Long", Long.valueOf( 179 ) );
      map.put( "Integer", Integer.valueOf( 179 ) );
      map.put( "Double", Double.valueOf( 179 ) );
      map.put( "date", new Date() );

      final Map params = n

[2017-08-16 10:26] costin3141 commented on #119
Damn, that formatting here is also broken :(

[2017-08-16 16:27] jdereg commented on #119
I will look into this, build tests, fix, and re-release. May take a few days.

[2017-08-20 17:15] jdereg commented on #101
JavaDoc has been updated to note the fact that primitive wrappers will be constructed with their '0' value.

[2017-08-20 17:15] #101 closed

[2017-08-20 17:16] jdereg commented on #119
This has been fixed, test added, and released in 4.10.0.

[2017-08-20 17:16] #119 closed

[2017-08-20 17:16] #91 closed

[2017-08-20 17:39] keeldragger commented on #91
Null pointer sucks

On Jul 23, 2016 8:14 PM, "Cedar Software" <notifications@github.com> wrote:

[2017-08-24 11:23] sgandon opened #120 "failed to deserialize EnumSet with json without type"
When deserializing a json string created using JsonWriter.TYPE set to false, the string cannot be deserialized if it contains an EnumSet, the following code in *com.cedarsoftware.util.io.ObjectResolver* show that if item.getType() returns null (expected cause no type is written) then classForName() call will fail and throw an exception.
The type could be derived from the real object field type but

[2017-08-24 16:41] jdereg commented on #120
This method would need a variant that takes a field - and then that version used in the appropriate places.  Probably not a simple smash-and-grab job, though.

[2017-10-27 03:39] wolfviking0 opened #122 "How load an object from son without @type"
Hi,

I am playing around with json-io, and I have an issue to create my java object. If I export my Java Object using JsonWriter.objectToJson, the JsonReader work fine, but because the json generated has the key @type.

Unfortunately in my test I need to load a json not generated by json-io and I do not have the @type inside, but I know the type of the class I want. I tried different way using the

[2017-11-11 18:03] jdereg commented on #122
When writing JSON, you can set a flag to remove the @type from the output.  Another option is to leave it in, and use the JsonReader mode that reads JSON into a Map of Maps representation.

[2017-11-11 18:07] wolfviking0 commented on #122
Hi, yes generate the json without type was ok.
But my goal it's to be able to load some generated JSON (not using java), and be able to reconstruct a java object, be able to do something like MyObject obj = JsonReader(jsonstring, MyObject.class).

Regarding the response of using Map of Maps, do you think that could be enough to reconstruct the  object using reflection ?

Thanks

[2017-11-11 18:10] jdereg commented on #122
Try both of the options I listed for reading - one of those two will be very likely what you want.

[2017-11-11 18:15] wolfviking0 commented on #122
Ok Let me try again, I will let you know

[2017-11-14 04:40] wolfviking0 commented on #122
Hi @jdereg,

So far I think I understand perfectly you sample. And I think it's not possible to achieve what I want.
After having the Object or the Maps, I want to retrieve the real object and it seems not possible.

Here in your sample you are using a map. In my case the Map it's just a standard java object.

{
    "a":"alpha",
    "b":[
          {
                "a":"beta",
                "b"

[2017-11-15 15:01] jdereg commented on #122
If you output with the @type, then it will be constructed as a Java object.  Json-io can serialize/deserialize any Java object graph.  To do this, it puts @type on objects that need the hint so that it reconstructs the proper instance.  Note that the extra @type field is benign when sent to Javascript.

[2017-11-22 13:07] #122 closed

[2018-03-17 13:16] 0c0c0f opened #123 "json-io have a deserialize vulnerability"
package gxlab.test;
import com.cedarsoftware.util.io

.JsonReader;

/**
 * Created by cfchi on 2017/12/26.
 */
public class T {
    public static void main(String[] args) {
         String poc = "{\"@type\":\"java.util.Arrays$ArrayList\",\"@items\":[{\"@id\":2,\"@type\":\"groovy.util.Expando\",\"expandoProperties\":{\"@type\":\"java.util.HashMap\",\"hashCode\":{\"@type\":\"org.codehaus.groovy.runt

[2018-03-29 08:26] gskorupa opened #124 "Illegal reflective access"
When running my application that uses json-io 4.10.0 on Java 10 several warnings appear: see below.
Anyway, thanks for the great job!

WARNING: Illegal reflective access by com.cedarsoftware.util.io.MetaUtils (file:cricket-1.2.38.jar) to field java.util.HashMap.table
WARNING: Illegal reflective access by com.cedarsoftware.util.io.MetaUtils (file:cricket-1.2.38.jar) to field java.util.HashMap.entry

[2018-04-13 11:59] nnar1o opened #125 "SKIP_NULL_FIELDS collections"
Collection fields that contain no elements are not omitted. Is there any option to skip such fields? If not so please add feature.

[2018-04-25 12:38] ozmium opened #126 "How to add this library as gradle dependency for Android Studio?"
How do we include this library dependency in an Android gradle project? (without downloading the jar file)

This doesn't work with gradle 4.1:

**build.gradle:**
[code]

**app/build.gradle:**
[code]

[2018-04-28 19:10] ozmium opened #127 "How to handle restore of renamed classes, in newer code version?"
Suppose that you already have some stored JSON state on disk for a class `"Employee"`. Then you rename the class in a newer version of your code, to `"EmployeeRenamed"`. Then you try to restore the state of the renamed class. This will cause a class cast Exception in json-io, as shown here:

[code]

Is there a way to workaround this in json-io, perhaps by forcing the type conversion or changing th

[2018-05-31 17:13] zfarrell commented on #73
Any update on this?

[2018-06-14 02:15] aespada opened #128 "Issues serializing java.net.InetAddress"
I've tried serializing java.net.InetAddress, and haven't been able to do so successfully. I've tried understanding what is json-io looking with no success.
Here is a sample code:
[code]
Output:

Has anyone else had any similar experience/issue?
Has anyone been able to solve this with any type of workaround?

[2018-06-14 03:20] aespada commented on #128
For anyone interested, and I guess it took me a bit more reading...
Create a custom JsonClassWriterEx and JsonClassReaderEx for InetAddress objects.
You can add these to the JsonReader and JsonWriter using the "args" map using CUSTOM_WRITER_MAP and CUSTOM_READER_MAP passed in while writing/reading to/from json.

[2018-06-14 03:20] #128 closed

[2018-06-14 14:20] aespada commented on #128
My solution is not robust, I don't think it serializes the InetAddress as I would think it needs to. I did a quick solution based on what my Model actually required. For example, I'm only using the IP Address portion of the InetAddress (IPv4) omitting the Host name. Also I'm not supporting any IPv6 InetAddress objects. In order to build a correct reader/writer there needs to be a lot more code for

[2018-07-01 17:17] ozmium opened #129 "JsonReader.jsonToJava() should accept null or empty String, to return null"
Currently, this code causes an exception in the json-io library:

    Object object1 = JsonReader.jsonToJava("");
    Object object2 = JsonReader.jsonToJava(null);

Please make the JsonReader return `null` objects in these scenarios. Otherwise the caller has to write extra code to deal with null and empty strings. It would be better if the library handled it, and it would also make the library eas

[2018-08-14 14:26] jdereg commented on #129
Good suggestion.  Many upcoming changes planned. Will be add.

[2018-08-14 14:29] jdereg commented on #127
json-io and other serializers are normally mean to be used to decompose an in-memory object graph to JSON only transiently, not for persistence.  If you are persisting the generated JSON to a document store (for example), then if someone is renaming classes, it should be on that person or team to make sure to update the stored documents as well.

[2018-08-14 14:29] #127 closed

[2018-08-14 14:32] jdereg commented on #125
There is a difference between a field pointing to an empty collection versus a field that has a value of null that could end up holding a collection.

Basically,
1. items = null
2. items = [ ]  // empty collection
3. items = [a, b, ... ] . // collection of items

Item 2 is semantically different than item 1.  json-io is just honoring the source graph.

[2018-08-14 14:32] #125 closed

[2018-08-14 14:33] jdereg commented on #126
I will be looking into this.  My plan is to convert my opensource projects from Maven to Gradle.  At that point, I will better understand how to answer / deal with this request.

[2018-08-14 14:35] jdereg commented on #123
I was unable to reproduce this, however, I still need to do more testing.  I ran this on a Mac Book pro and no new files were created.  This is on the list of items to address in an upcoming version.

[2018-08-30 15:19] downToHell opened #130 "Please add a possibility to alias (Java) fields"
Like this one on XStream.io: http://x-stream.github.io/alias-tutorial.html

[2018-11-13 13:51] ericktang opened #132 "Some source code suggestions"
Source code have many const String like: "@id","@keys","@items","@type",etc., may be use some final static String to define them is a good purpose.

[2018-11-16 11:53] ericktang commented on #132
**next code may be an error.**
[code]

[2018-11-28 09:34] becoupama opened #133 "SHORT_META_KEYS issue"
SHORT_META_KEYS should stretch @items to @e ; but sometimes @items is replaced by @i leading to jsonToJava Exception.

Test code :
[code]
Suspected source issue : JsonWriter line 1263
`            output.write(shortMetaKeys ? "\"@i\":[" : "\"@items\":[");
`
may be replaced with
`            output.write(shortMetaKeys ? "\"@e\":[" : "\"@items\":[");
`

Json-io is a great tool, thanks for your work

[2018-12-05 08:30] vbutsko opened #134 "Converting lambda expression to JSON and back"
Hi there. Faced with problem using json-io. Is it possible to convert lambda function to json and back ? (in my case it even list of lambdas, but I think that amount doesn't matter)

For example I'm trying to convert lambda to json and it's ok, it looks like `{"@type":"com.test_project.TestMain$$Lambda$1/333362446"}`, where TestMain is a class where lambda is created. But then it's not possible to

[2018-12-07 09:16] EugeneImbro opened #135 "Double quote character (char 34) reads as \u0000"
I tried to parse following JSON Object:

`{
  "@type": "char",
  "value": "\""
}`

    @Test
    public void justTest() {
        String jsonString = "{\"@type\":\"char\",\"value\":\"\\\"\"}";
        JsonReader jsonReader = new JsonReader(new ByteArrayInputStream(jsonString.getBytes(Charsets.UTF_8)));
        Object object = jsonReader.readObject();
        assertThat((Character) object).isEqualT

[2018-12-27 21:02] jdereg commented on #133
Thank you for the nice unit test and clear instructions as to where the error was.  I have fixed it and added your test to the library.  A new release should be out within a day or two.

[2018-12-27 21:02] #133 closed

[2018-12-27 21:03] jdereg commented on #132
This has been fixed and test added.  Will be publishing new json-io version within a day or so.  I am looking through other issues to possibly include in this next release.

[2018-12-27 21:03] #132 closed

[2019-01-02 19:56] ozmium commented on #126
This seems to be fixed now:

https://search.maven.org/artifact/com.cedarsoftware/json-io/4.10.1/bundle

[code]

[2019-01-02 19:56] #126 closed

[2019-01-05 13:31] ozmium commented on #122
I am also having difficulty with this. I would like convert a simple string like `"[10,20,30,40]"` to an `ArrayList<Integer>`. This library does not seem to support that:

[code]

How do I convert the json string "[10,20,30,40]" back into an `ArrayList<Integer>` ? I can't figure it out.

[2019-01-10 15:20] ozmium commented on #122
@jdereg Thanks for the suggestion about using Interface types.

Maybe I'm wrong, but isn't there also a [downside to that approach](https://stackoverflow.com/questions/3194278/should-you-always-code-to-interfaces-in-java)...?

1. Increased number of Imports: You now need to import 2 classes instead of 1: `java.util.Map` and `java.util.HashMap`
2. If I know that the implementation won't change, do

[2019-02-06 11:30] Tawoka opened #136 "Question: Replace deep objects"
Greetings,

I am currently testing json-io as a JSON-parser, since I am very fond of the simplistic setup requirements. Unfortunately I have a "small" requirement, for which I can't seem to find a working solution. Therefore I'd like to ask here directly, if this is possible, and how.

I have following setup. I have a deep object model with multiple layers. As example I will use a simple Table:
Ta

[2019-02-06 12:59] jdereg commented on #136
What happens when you use json-io to write your original object graph out
and then use json-io to read it in?

On Wed, Feb 6, 2019 at 6:30 AM Tawoka <notifications@github.com> wrote:

[2019-02-06 14:07] Tawoka commented on #136
It rebuilds the object as it is. I have not yet been able to test highly complex setups with it, but in a simple test with a couple of mock objects it's reading and writing as I'd expect it.

[2019-02-12 12:35] Tawoka commented on #136
To make sure I didn't give the wrong signals here, I'd like to emphasize that I had no problem so far with reading or writing a JSON on an "AS-IS" basis. The thing I miss is an ability to enhance both reader and writer (especially writer) with the ability to replace replace an object with its ID string.
So my question to that extend is still open

[2019-02-18 17:29] antoinetran opened #137 "Allow tolerant/lenient parser of +/- infinity and NaN"
Hi,

I know JSON norms does not accept these value, but in our project, we need to have NaN or Infinity, as this is provided by our scientific data. Maybe we shouldn't have used Json, but now we would like to have a Json Parser a bit more lenient, as the Gson parser, that with a configuration, can read and write NaN and +/- infinity. Thank you!

[2019-02-18 17:30] antoinetran commented on #137
Maybe there should be a singleton like JsonConfig.setLenient(true), or a configuration per usage, like
JsonReader.jsonToJava(line, LENIENT);

[2019-03-11 15:03] antoinetran commented on #137
#138

[2019-03-22 11:31] jdereg commented on #137
I've merged this change in.  Thank you for contributing.  Need to wrap this up with test case, then can release.

[2019-03-28 16:37] antoinetran commented on #137
Pull request #139 as requested, 2 UT class.

[2019-07-17 13:11] thomasX opened #140 "serialize java Hashmap"
hello !
i use json-io for some years now and want to update from json.io 2.4 to json-io 4
but there are some problems with the new serialization format of maps:
the old forlmat was with @keys[,,,,],@items[...]
this was the perfect format for serializing object to mongo.
in the mongo you can't query map keys containing '.' . But with the old format there was no problem.
it would be nice if we can s

[2019-07-18 00:10] akabanov commented on #124
Hi Greg, have you been able to resolve this? I'm facing the same issue in my project.

[2019-07-18 07:19] Agonizedcupid commented on #126
HttpResponse<JsonNode> jsonResponse = Unirest.post("http://httpbin.org/post")
                .header("accept", "application/json")
                .field("parameter", "value")
                .field("file", new File("/tmp/file"))
                .asJson();

here asJson() method unable to resolve . how can i use asJson() method

[2019-08-14 05:48] mokun commented on #124
Does it mean that json-io uses reflection ?

[2019-10-03 16:06] enderk opened #141 "json-io not working on Android 10"
Regarding to Android docs (https://developer.android.com/about/versions/10/non-sdk-q) now value fields removed so reflection based mapping for primitives not working.

Ljava/lang/Boolean;->value:Z   # java.lang.Boolean.booleanValue()
Ljava/lang/Byte;->value:B   # java.lang.Byte.byteValue()
Ljava/lang/Character;->value:C   # java.lang.Character.charValue()
Ljava/lang/Double;->value:D   # java.lang.

[2019-10-13 11:35] jdereg commented on #140
json-io does uses the @Keys/@Items format when a non-string key is used within a Map, otherwise it serializes to JSON in the format where the keys are String keys in json to the associated values.

If you want, you could add a flag that json-io would look at that would override this behavior.  json-io has many existing options that can be turned on/off already, adding support for this (and a test)

[2019-10-13 13:25] jdereg commented on #137
The test suite was failing due to the added test setting the value 'lenient' to true but not restoring it.  This has been fixed and checked in.  I am putting together a new release that will include this.

[2019-10-13 13:30] jdereg commented on #136
I don't fully understand what is being requested.  json-io writes out an object id if the object is referenced two (2) or more times.  And it only writes the reference for the 2nd and further references.  This prevents cycles and ensures that shape of the graph is the same after being written and read.

If you are wanting a special format, you can (as you suggest) add custom reader and writers.  I

[2019-10-13 13:55] jdereg commented on #135
This has been fixed.  It will be released in 4.11.0

[2019-10-13 13:55] #135 closed

[2019-10-13 14:05] jdereg commented on #129
Implemented in 4.11.0

[2019-10-13 14:05] #129 closed

[2019-10-13 14:11] jdereg commented on #124
This should be fixed in the 4.11.0 release.  The library indeed uses reflection in order to extract values from the objects it serializes.  That is not what was causing this warning, however.  The source of this warning is the use of .setAccessible() API, which I have removed.

[2019-10-13 14:11] #124 closed

[2019-10-13 14:40] jdereg commented on #123
This has been fixed and will be available in the 4.11.0 release.

[2019-10-13 14:40] #123 closed

[2019-10-13 14:44] jdereg commented on #137
This is now supported (thank you @antoinetran) and will be released in 4.11.0.

[2019-10-13 14:44] #137 closed

[2019-10-13 15:22] jdereg commented on #73
This is now implemented and available in 4.11.0.

[2019-10-13 15:22] #73 closed

[2019-10-23 08:56] thomasX commented on #140
thank's for your reply !

i just tried do add this feature but when i checkout the repository it
can't be build. I have tried this with eclipse and with intelliJ  on both
IDE i got failures.
Please give me a short HOWTO :
-which ide do you use
-which plugins are requested.

otherwise i will waste my time with unnecessary things.

Am So., 13. Okt. 2019 um 13:35 Uhr schrieb John DeRegnaucourt <
noti

[2019-10-24 04:09] jdereg commented on #140
Thank you for the PR on the @keys/@items request.  I plan to add a test and should get this rolled into a release this weekend.

Btw, what error are you getting when you pull this project down.  I am using Intellij, but this project should build just fine with a
`mvn clean install`

[2019-10-24 07:08] thomasX commented on #140
Error: cannot compile Groovy files: no Groovy library is defined for module
json-io

Am Do., 24. Okt. 2019 um 06:09 Uhr schrieb John DeRegnaucourt <
notifications@github.com>:

--
Mit freundlichen Grüssen | Best Regards

Ing. Thomas Margreiter
Turbinenweg 36
A-6250 Kundl
Tel.: +43 677 624 472 39

[2019-10-24 07:37] thomasX commented on #140
I have found the solution:
it looks like some packages are not available from
 https://maven-central.storage.googleapis.com
i have changed the mirror entry.
now it works perfect

thank's for your help !

Am Do., 24. Okt. 2019 um 06:09 Uhr schrieb John DeRegnaucourt <
notifications@github.com>:

--
Mit freundlichen Grüssen | Best Regards

Ing. Thomas Margreiter
Turbinenweg 36
A-6250 Kundl
Tel.: +43

[2019-10-24 11:26] jdereg commented on #140
I added the test case for the new flag and released the new version to Maven Central as 4.11.1.  Normally, that may take a few hours before you will be able to reference it your pom.xml file.

[2019-10-24 11:26] #140 closed

[2019-10-24 11:29] jdereg commented on #134
Do you need the @type info in your output JSON?  If you do not, turn of writing of @type to the output by setting the 'TYPE' flag in the options Map fed to the writer.

I will try a test of this to see what happens in the meantime.

[2019-10-26 20:17] ghost opened #143 "Illegal reflective access"
Hello,

Ive warning with latest json-io and jdk 11 :

`jvm 1    | WARNING: An illegal reflective access operation has occurred
jvm 1    | WARNING: Illegal reflective access by com.cedarsoftware.util.io.MetaUtils (file:/C:/Users/Administrator/Documents/GitHub/xxx/lib/json-io-4.11.1.jar) to field java.lang.Integer.value
jvm 1    | WARNING: Please consider reporting this to the maintainers of com.ced

[2019-12-09 18:22] antoinetran opened #144 "Regression negative number from Lenient"
Since the merge of https://github.com/jdereg/json-io/issues/137, there is a regression. json-io version: 4.11.1

I made a simple UT, that reads "-1234". It shows
[code]
Analysis:
In the code, in JsonParser.java:
[code]
The last line is wrong:
`input.unread('-');` should have been `input.unread('c'); c = '-';` to reset to the initial state.

[2019-12-09 18:37] antoinetran commented on #144
Hi @jdereg , sorry my former code brought an error. This should fixes it, I reproduced the error in a new UT and checked that it is fixed.
Now I made a pull request but I saw Travis error, that has nothing to do with this issue: Jdk8 couldn't be installed (source [here](https://travis-ci.org/jdereg/json-io/jobs/622805114?utm_medium=notification&utm_source=github_status))
[code]
It seems Travis wan

[2019-12-10 16:34] antoinetran commented on #144
Pull request here: #145

[2019-12-11 12:47] #144 closed

[2019-12-13 13:48] esial opened #146 "ClassCastException"
On Samsung Galaxy S10E (SM-G970F) - Android 9 I'm getting:
[code]

[2019-12-16 20:05] jdereg commented on #146
Can you post sample input that causes this to happen?

[2019-12-17 07:24] esial commented on #146
I've discovered it was an obfuscation problem. Sorry for bothering.

[2020-02-04 05:03] #146 closed

[2020-05-12 09:22] goodandrewsoft opened #148 "How avoid print, the ""@type":"com.company.Main$Foo"" ?"
[code]

[code]

[code]

How avoid print, the ""@type":"com.company.Main$Foo"" ?

[2020-05-12 17:51] jdereg commented on #148
See the User Guide for json-io:
https://github.com/jdereg/json-io/blob/master/user-guide.md

You will want to set the TYPE parameter to false and it will not emit @type.

CUSTOM_WRITER_MAP       // Set to Map<Class, JsonWriter.JsonClassWriterEx> to
                        // override the default JSON output for a given class.
NOT_CUSTOM_WRITER_MAP   // Set to Collection<Class> to indicate
classes

[2020-10-26 13:49] bmbanker opened #150 "Is there a way to avoid ClassCastException without using @type fields on a JSON object?"
If I attempt to deserialize JSON that was serialized with the default JsonWriter type settings, I can cast it to a typed object successfully. However, if I attempt to deserialize JSON that was serialized with JsonWriter.TYPE = false, I receive a ClassCastException.

Is there any way to avoid this without needing to rely on the `@type` parameters? The reason I'm asking is because the objects I use

[2020-10-27 05:42] jdereg commented on #150
If you turn of the @type, then it is best to read the JSON into JsonReader using the API that returns a "Map of Maps" which will prevent any ClassCastExceptions.  Here is an example in Groovy:

// shown using Groovy short-hand for Map of options.  See options below.
String json = // some JSON obtained from wherever
Object obj = JsonReader.jsonToJava(json, [(JsonReader.USE_MAPS): true])

[2020-10-27 05:43] #148 closed

[2020-10-27 12:51] bmbanker commented on #150
Is there a challenge or a reason not to create functionality to serialized into a typed object without storing type info in the JSON (if you are given the class information as a parameter of the method)?

[2020-10-31 14:22] jdereg commented on #150
Yes, there is a challenge to using JSON to store/retrieve to a set of Java
classes without placing type information in the JSON.  Simple example, I
have a field in JSON that has an object type next to it:

[code]

Now the Java object you want to read it into looks like this (two examples)
Class A
{
   Map field1;
   Boolean field2;
}

Class B
{
   Person field1;
   Boolean field2;
}

Class C
{
  O

[2020-10-31 15:08] bmbanker commented on #150
I can see how this would be an issue. However, I'm trying to basically skip using a "DTO" entirely. I've built a front end that knows how to interact with unflattened objects, and that's why I'm using your library (because it can handle nested objects with circular dependencies.).

In the scenario provided above, it looks like you are not giving a class parameter to your deserialization function.

[2021-02-25 13:36] reuschling opened #151 "Deserialization of records doesn't work in Java15"
If you want to deserialize a record, you get an `IllegalAccessException: Can not set final ... field `.

I assume the problem will exist also in the new Java16 which comes out next week, where records won't be a preview feature anymore.

Example code:
[code]

Gson also has this issue: https://github.com/google/gson/issues/1794. According this, the solution would  be to use the constructor in favou

[2021-04-07 19:55] ozmium commented on #141
Yes this is a big problem. Oddly, some auto-boxed primitives work (like `Long`), and others do not (like `Integer`). Examples:

**Run this on an Android 10 or 11 device:**

[code]

------

As an unrelated point, I noticed that the JsonWriter constructor has duplicate lines to read the property `WRITE_LONGS_AS_STRINGS`:

https://github.com/jdereg/json-io/blob/31a5c7961c050f7abc6d08011d7e69a1555d4e9

[2021-04-10 09:47] ozmium commented on #150
This issue is very similar to issue https://github.com/jdereg/json-io/issues/122

[2021-05-27 00:08] caffeine-mgn opened #152 "Why?"
Version 4.12
Class `com.cedarsoftware.util.io.ObjectResolver`
Method: `assignField`
Line: `222`
[code]

[2021-05-27 00:19] caffeine-mgn commented on #152
I have some common result object like
[code]

And when my service returns empty string I got null

[2021-07-19 18:03] momomo opened #153 "Could not instantiate m.Store.jedison.JedisonMessageProductImageDownload using any constructor"
{"@type":"m.Store.jedison.JedisonMessageProductImageDownload","id":30,"url":"https://cdnbigbuy.com/images/i-cigarette-fruit-mix-01_1.jpg","source":{"name":"bigbuy"},"version":1,"created":{"time":"1626717528000","nanos":"415817447"},"status":{"name":"CREATED"},"queued":[{"@type":"m.Jedison.JMessage$QueuedRecord","queued":{"time":"1626717528000","nanos":"415818547"},"processing":[]}]}

First the con

[2021-09-28 19:22] mvangoor opened #154 "java.lang primitives serialization - JDK-8256358 - JDK 17 support"
Hi,

In JDK 16 the default for illegal-access switched to deny (was permit) and in 17 this option was removed completely.
For context see:
- https://bugs.openjdk.java.net/browse/JDK-8256358
- https://github.com/google/gson/issues/1916 (GSON has similar issue)

Basically every java.lang class cannot be serialized anymore and will throw an java.lang.IllegalAccessException starting JDK16 (can be chan

[2021-09-29 14:53] zc0nf commented on #154
ping @jdereg

[2021-10-25 11:14] bergerdenes opened #155 "Enum serialization error with Java 17"
I have created a test scenario, with an enum and a class with a field typed to this enum.
[code]

When I try to serialize this class with Java 17, the enum value is serialized to `null`
[code]

output:
`{"@type":"myPackage.SimpleClass","name":"MyName","myEnum":{"name":null}}`

[2021-11-11 10:34] wwang-talend commented on #155
https://github.com/jdereg/json-io/pull/156
maybe this help? i try to set this : "--illegal-access=deny" on jvm parameters, it works, the same between jdk11 and jdk17

[2021-11-11 10:35] wwang-talend commented on #154
https://github.com/jdereg/json-io/pull/156 maybe this help, that fix some issues for primitive, better if you can help review..

[2021-11-11 10:38] wwang-talend commented on #120
here do a fix try for that : https://github.com/jdereg/json-io/pull/156 seems.

[2021-11-11 13:36] jdereg commented on #154
#156 added and released.  @mvangoor - can you verify if json-io 4.14.0, which contains #156, fixes the issue you were having?

[2021-12-22 06:28] xeronix opened #157 "Error in JsonWriter.formatJson() for enum"
[code]

[code]

Following code fails:
[code]
_Exception in thread "main" com.cedarsoftware.util.io.JsonIoException: Class 'com.ifn.dev.TestEnum' does not have primitive wrapper._

If i pass the pretty print argument then it works fine:
[code]

I am using JDK 8.

[2021-12-22 06:48] xeronix opened #158 "Provide feature to serializer only fields having given access modifier"
I want to serialize fields with specific access modifier for all the classes. Currently there is no way to specify it.
In jackson JSON mapper there is option to specify field visibility for serialization.

Example:
[code]
To serialize only protected fields for all classes:
[code]

To serialize only protected+public fields for all classes:
[code]

[2021-12-22 08:58] poberbichler commented on #154
@jdereg was this version actually released?
According to https://search.maven.org/artifact/com.cedarsoftware/json-io the latest version is still `4.13.0`

[2021-12-22 14:55] jdereg commented on #158
I believe this already exists.  See the 'FIELD_SPECIFIERS' option.

[2021-12-22 15:06] xeronix commented on #158
FIELD_SPECIFIERS options uses a map of class as key and field name list as value.
My use case is to serialize only protected members of classes.

There are lot of classes and i need to find protected members for each one of them, create a list and then add it to the map for every class.

There is no global way of doing it as of now or i am missing something here.

[2022-02-05 22:03] pm-finamis opened #159 "Unmarshalling of provided XMLGregorianCalendar implementation class"
Hi,
we are using json-io to temporarily store java objects as text values for later processing.
In particular, we store webservice request java objects, some of them contain datetime fields of type org.apache.xerces.jaxp.datatype.XMLGregorianCalendarImpl, which is an XMLGregorianCalendar implementation provided by the application server.
json-io fails to unmarshall these fields, returning LinkedHa

[2022-02-10 07:30] bergerdenes commented on #155
OpenJDK 64-Bit Server VM warning: Ignoring option --illegal-access=deny; support was removed in 17.0

[2022-02-13 15:55] jdereg commented on #159
In the user guide, look at customization approach #4.  That shows how to write a custom reader for json-io.  You will likely also want to implement a custom writer.  This is the "opening" to allow json-io to serialize any class.

[2022-02-13 15:59] jdereg commented on #158
json-io is open source.  You are welcome to add this capability and appropriate unit tests.  I will review and once successfully passing "muster", commit to main branch and release.

[2022-02-13 16:49] jdereg commented on #153
Use a custom instantiater to address this.  See assignInstantiator, customization technique #2 in the user guide.

[2022-02-13 16:49] #153 closed

[2022-02-13 21:58] pm-finamis commented on #159
Hi John, thanks for your reply.
Actually I see no reason to write a custom reader/writer, the default ones work perfectly.
It is class lookup that seems to need some customization.
(And as I mentioned, I provided an instantiator, but it is used AFTER MetaUtils fail to find the class XMLGregorianCalendarImpl. I guess if MetaUtils were able to find the class, they would be probably also able to inst

[2022-02-14 16:07] xeronix commented on #158
I have already modified it for my usage. I will try to merge it with test cases.

[2022-02-18 09:59] raubv0gel opened #160 "inputStream is closed by JsonReader.jsonToJava(inputStream)"
`JsonReader.jsonToJava(inputStream, null);` really should not close `inputStream`, but it currently does. In my case, there is more data after JSON in this stream: `{"key": "value"} here comes more data`.

See [https://stackoverflow.com/questions/46953805/should-i-close-a-stream-which-i-did-not-create](https://stackoverflow.com/questions/46953805/should-i-close-a-stream-which-i-did-not-create).

[2022-02-18 12:03] raubv0gel commented on #160
Workaround:
[code]

[2022-03-16 14:41] reuschling commented on #154
Also, the version number in the repo pom.xml is still 4.13.0 I would be happy to help testing the new java17 support. What is the preferred way? Just check it out?

[2022-03-16 16:05] jdereg commented on #154
I appreciate your offer to help get this ready for Java 17.

I would recommend that after you pull the project down, run the tests, make
sure they are all passing for you.

Then, I assume you may make some changes to support Java 17. Create a pull
request to get your changes submitted. If you have trouble creating the PR,
then send me the changed files and I can incorporate the changes.

Assuming

[2022-03-17 09:38] zetzet opened #161 "Question: how-to serialize Hibernate (proxy) objects"
I am currently searching for a JSON serializer that works with Hibernate Objects, that are partly initialized.
The current problem i face is a Hibernate LazyInitializationException, that a Hibernate PersistentSet will throw when json-io tries to serialize a collection that was not loaded by Hibernate.
I would like to skip the collection content serialization when PersistentSet.wasInitialized() ret

[2022-03-17 15:45] reuschling commented on #154
Ah, I assumed there is java 17 support yet and only testing is left, according to #156. You mentioned you released this as 4.14.0? I don't know what is left. First step would be a number of test cases or simply problematic Objects for test cases. I have seen one test yet in the code [here](https://github.com/jdereg/json-io/blob/master/src/test/java/com/cedarsoftware/util/io/TestEmptyEnumSetOnJDK17

[2022-10-07 15:41] h143570 opened #164 "Java 17 UUID can no longer be serialized and deserialized correctly"
on Java 17
[code]

Produces:

`{"@type":"java.util.UUID","mostSigBits":null,"leastSigBits":null}`

Restoring the original state is not possible from this.

Java 8 and 11 works perfectly.

Deserialization will fail on `mostSigBits`
detailMessage: `IllegalAccessException setting field 'mostSigBits' on target: 00000000-0000-0000-0000-000000000000 with value: null`
cause: `java.lang.IllegalAccessExcep

[2022-10-07 16:39] jdereg commented on #164
In the User Guide (https://github.com/jdereg/json-io/blob/master/user-guide.md), option 4 under customizations shows how to add a customer serializer.  This is how json-io is extended to handle objects that do not serialize in a standard way.  Essentially, come up with a simple format for serializing the GUID - which I would expect would be a simple key associated to String value.  Write the "read

[2022-10-10 18:35] mvangoor commented on #154
Hi @jdereg,

First of all sorry for not responding at all.
I lost track of this issue and somehow the messages to remind me got into some obscure trash folder...

That said I recently stumbled upon this sissue 'again' and found this thread with all nice updates!

I manually built the latest master branch as 4.14.0 and tried it out.
So far all tests are passing and primitives are being handled corr

[2022-10-10 22:44] jdereg commented on #164
Looking forward to a PR - will include it and then will release the project with the new PR.

[2022-10-12 18:42] h143570 commented on #164
I have the initial changes still working on the unit test, based on the BigDecimal test. Likely send in the PR tomorrow.

[2022-10-14 20:57] jdereg commented on #164
These changes have been merged and released in json-io 4.14.0

[2022-10-14 20:57] #164 closed

[2022-10-14 21:05] jdereg commented on #136
Custom Readers and Writers can be added to read/write objects that do not serialize automatically.  In addition, objects that are hard to instantiate (no easy constructor to call by the reader code), you can use the "assign instantiator" method to ensure that your code can be used to instantiate an object that is tough to construct.  See the UserGuide, linked to from the main page: https://github.

[2022-10-14 21:05] #136 closed

[2022-10-14 21:06] #134 closed

[2022-10-14 21:12] jdereg commented on #151
json-io has the assign instantiator customization that lets you write the code that creates the object, which allows you to set up the object in regular code - your code is called when the troubled class is encountered.  This is dicussed in the user-guide, linked here: https://github.com/jdereg/json-io/blob/master/user-guide.md under the Customization section.  Also, recent changes have been added

[2022-10-14 21:12] #151 closed

[2022-10-14 21:14] jdereg commented on #154
json-io 4.14.0 has been released. The fixes that have been submitted to support JDK through 17 are included.  Let me know if you have any isses.

[2022-10-14 21:16] jdereg commented on #155
Recent fixes to include serialization of Enums were added and included in json-io 4.14.0.  Please let me know if that corrects this issue for you.

[2022-10-14 21:17] jdereg commented on #157
json-io 4.14.0 has been released.  Fixes for enum handling and support for JDK's through 17 are included.  Please let me know if this is an issue for you.

[2022-10-14 21:19] jdereg commented on #158
Please submit a pull request (if you haven't already) for your suggested change.  Thanks!

[2022-10-14 21:23] jdereg commented on #160
JsonReader gives you the option to do this either way.  Using the static methods, it will close the streams.  If you construct an instance of the JsonReader, and then use the readObject() methods, it will not close the stream.  Take a look at the code inside the static methods to see how this is done.

[2022-10-14 21:23] #160 closed

[2022-10-14 21:26] jdereg commented on #161
Serializers are going to read json and then assign the values at the field level, not calling hibernate methods to 'load' or 'fault-in' the objects.  Can you traverse your hibernate object graph first.  If you do that, then you should be able to serialize your hibernate objects.

[2022-10-15 07:29] mvangoor commented on #154
Hi @jdereg ,

Appreciate the reply, especially since I've been awol for soo long... again truly sorry about that.

I checked the tags and maven repository, I do not see a 4.14.0 there.
Am I missing something? :)

Regards,
Mike

[2022-10-15 11:23] #161 closed

[2022-10-15 11:30] jdereg commented on #154
I released 4.14.0 to Maven Central, however, I forgot to tag the source
tree.  The repo is now tagged with 4.14.0.

On Sat, Oct 15, 2022 at 3:30 AM Mike van Goor ***@***.***>
wrote:

[2022-10-15 19:49] mvangoor commented on #154
Thanks, all looking good now.

Closing :)

[2022-10-15 19:49] #154 closed